.posts {
  position: relative;
  .back-btn {
    background-color: teal;
    color: #fff;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
