.post {
  .title {
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid teal;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .body {
    font-style: italic;
  }
  .id {
    color: #0066cc;
  }
}
.comments {
  position: absolute;
}
